<div class="bg-slate-50 dark:bg-[#0F172A] transition-colors duration-300">
    <form [formGroup]="invitationForm" class="p-6 space-y-6">
        <div class="grid grid-cols-2 gap-4">
            <hta-float-label-input formControlName="firstName" id="firstName" label="Nombre/s" />
            <hta-float-label-input formControlName="lastName" id="lastName" label="Apellido" />
            <hta-float-label-input formControlName="email" id="email" label="Email" />
        </div>
        <div class="flex items-center gap-2">
            <p-checkbox formControlName="totalClient" inputId="totalClient" name="size" value="Large" />
            <label for="totalClient">Acceso total al cliente</label>
        </div>
        <div class="flex flex-col gap-2 relative">
            <label class="text-md font-medium text-slate-700 dark:text-slate-300 tracking-wide uppercase text-xs">
                Alcance
            </label>
            <p class="text-xs">
                Determine el alcance de los permisos del usuario, un sitio (casa, oficina, local, etc.) o varios, zonas
                de estos sitios o dispositivos concretos.
            </p>
            <hta-access-managment-scope [nodes]="topologyNodes()" [readonly]="isReadonly()"
                (update)="onScopeUpdate($event)" />
        </div>
    </form>
</div>