.float-input input {
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

:host .float-input input {
    background-color: transparent;
}

.float-input input:focus,
.float-input:has(input.p-filled) input {
    box-shadow: inset 0px 0px 2px 1px rgba(255, 105, 0, 0.75);
}

:host(.dialog-input) .float-input input {
    background-color: var(--p-surface-800);
}

:host(.dialog-input) .float-input label {
    background-color: var(--p-surface-800);
}

.float-input input.p-invalid {
    box-shadow: 0px 0px 2px 2px rgba(239, 68, 68, 0.3);
}

@media (prefers-color-scheme: dark) {
    .float-input input {
        box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
    }
}