<div class="grid grid-cols-2 gap-4 mt-4">
    @for (category of categories; track $index) {
    <div class="p-5 dark:bg-black/20 rounded-2xl bg-slate-50">
        <h5 class="text-[10px] font-black text-white uppercase tracking-widest mb-4">{{category}}
        </h5>
        <ul class="space-y-3">
            <li class="flex items-center gap-2 text-sm text-slate-400">
                <i class="pi pi-check-circle text-green-500"></i> {{category.toLowerCase()}}.read
            </li>
            <li class="flex items-center gap-2 text-sm text-slate-400">
                <i class="pi pi-check-circle text-green-500"></i> {{category.toLowerCase()}}.update
            </li>
        </ul>
    </div>
    }

</div>