<div class="flex min-h-full flex-col justify-center px-6  lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2
            class="text-center text-2xl font-bold leading-9 tracking-tight text-[var(--surface-900)] dark:text-[var(--surface-0)]">
            Crear una nueva cuenta
        </h2>
        <p class="mt-2 text-sm text-center text-[var(--surface-500)] dark:text-[var(--surface-400)]">
            Únete a Hestia y toma el control.
        </p>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        @let firstName = registerForm.controls['firstName'];
        @let lastName = registerForm.controls['lastName'];
        @let email = registerForm.controls['email'];
        @let password = registerForm.controls['password'];
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="space-y-6">
            <div class="grid grid-cols-2 gap-4">
                <div>
                    <p-floatlabel variant="on">
                        <input pInputText id="firstName" formControlName="firstName"
                            class="w-full h-[2.2rem] rounded-md pl-5"
                            [invalid]="firstName.invalid && firstName.touched" />
                        <label for="firstName" class="px-2">First Name</label>
                    </p-floatlabel>
                    @if(firstName.invalid && firstName.touched){
                    <div>
                        <p-message severity="error" size="small" variant="simple">
                            @if (firstName.hasError('required')) {
                            First name is Required.
                            }
                        </p-message>
                    </div>
                    }
                </div>
                <div>
                    <p-floatlabel variant="on">
                        <input pInputText id="lastName" formControlName="lastName"
                            class="w-full h-[2.2rem] rounded-md pl-5"
                            [invalid]="lastName.invalid && lastName.touched" />
                        <label for="lastName" class="px-2">Last Name</label>
                    </p-floatlabel>
                    @if(lastName.invalid && lastName.touched){
                    <div>
                        <p-message severity="error" size="small" variant="simple">
                            @if (lastName.hasError('required')) {
                            Last name is Required.
                            }
                        </p-message>
                    </div>
                    }
                </div>
            </div>

            <div>
                <p-floatlabel variant="on">
                    <input pInputText id="email" formControlName="email" class="w-full h-[2.2rem] rounded-md pl-5"
                        [invalid]="email.invalid && email.touched" />
                    <label for="email" class="px-2">Email</label>
                </p-floatlabel>
                @if(email.invalid && email.touched){
                <div>
                    <p-message severity="error" size="small" variant="simple">
                        @if (email.hasError('required')) {
                        Email is Required.
                        }
                        @if (email.hasError('email')) {
                        Please enter a valid email.
                        }
                    </p-message>
                </div>
                }
            </div>

            <div>
                <p-floatlabel variant="on">
                    <p-password formControlName="password" [toggleMask]="true" class="w-full"
                        inputStyleClass="w-full h-[2.2rem] rounded-md pl-5"
                        [invalid]="password.invalid && password.touched"></p-password>
                    <label for="password" class="px-2">Password</label>
                </p-floatlabel>
                @if(password.invalid && password.touched){
                <div>
                    <p-message severity="error" size="small" variant="simple">
                        @if (password.hasError('required')) {
                        Password is Required.
                        }
                    </p-message>
                </div>
                }
            </div>

            <p-button label="Registrarse" [disabled]="registerForm.invalid" type="submit"
                styleClass="w-full !bg-orange-600 !border-orange-600 hover:!bg-orange-500 text-white font-bold py-3 shadow-lg shadow-orange-500/20"></p-button>

            <div class="text-center mt-4">
                <p class="text-sm text-[var(--surface-500)] dark:text-[var(--surface-400)]">
                    ¿Ya tienes cuenta?
                    <a routerLink="/auth/login"
                        class="font-medium text-orange-600 hover:text-orange-500 transition-colors">Iniciar Sesión</a>
                </p>
            </div>
        </form>
    </div>
</div>