<p-dialog [(visible)]="show" [modal]="true" styleClass="w-full max-w-lg" [draggable]="false" [resizable]="false"
    [contentStyle]="{'overflow': 'visible'}">
    <ng-template #header>
        <div class="text-xl font-bold text-[var(--surface-900)] dark:text-[var(--surface-0)] px-3 pt-3">
            {{ title() }}
        </div>
    </ng-template>

    <ng-content></ng-content>

    <ng-template pTemplate="footer">
        <div class="flex gap-2 p-3">
            <p-button [label]="labelCancel()" (onClick)="cancelHandler()"
                styleClass="p-button-text !text-[var(--surface-500)] hover:!text-[var(--surface-900)] dark:hover:!text-[var(--surface-200)]"></p-button>
            <hta-button [label]="labelConfirm()" icon="pi-check" (click)="confirmHandler()"
                [disabled]="disabledConfirm()" />
        </div>
    </ng-template>

</p-dialog>