@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "primeicons/primeicons.css";

@import "tailwindcss";
@layer tailwind-base, primeng, tailwind-utilities;

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

body {
    background-color: var(--p-surface-50);
    color: var(--p-text-color);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 768px;
}

input.p-inputtext.p-invalid {
    border-width: 1px;
    border-style: solid;
    border-color: var(--p-inputtext-invalid-border-color);
}

.p-toggleswitch-handle {
    top: 18%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--p-surface-900);
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
