@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "primeicons/primeicons.css";

@import "tailwindcss";
@layer tailwind-base, primeng, tailwind-utilities;

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 100,
        'GRAD' 0,
        'opsz' 24
}

body {
    background-color: var(--p-surface-50);
    color: var(--p-text-color);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    min-height: 100vh;
    min-width: 768px;
}

input.p-inputtext.p-invalid {
    border-width: 1px;
    border-style: solid;
    border-color: var(--p-inputtext-invalid-border-color);
}

.p-toggleswitch-handle {
    top: 18%;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--p-surface-900);
    }
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #475569 #0f172a;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 4px;
    border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f97316;
}

::-webkit-scrollbar-thumb:active {
    background-color: #ea580c;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

p-password .p-password-toggle-mask-icon {
    top: 26%;
}

p-password .p-password-input {
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

p-password input.p-inputtext.p-invalid {
    box-shadow: inset 0px 0px 2px 1px rgba(248, 113, 133, 0.5);
}

p-select {
    height: 3rem;
}

.p-floatlabel-in:has(.p-inputwrapper-filled) label {
    top: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    p-password .p-password-input {
        box-shadow: inset 0px 0px 2px 1px rgba(255, 255, 255, 0.5);
    }
}