<nav>
    <p-menu [model]="items" class="flex justify-center">
        <ng-template #start>
            <div class="flex items-center justify-center mt-[1rem]">
                <hta-hestia-brand width="40%"></hta-hestia-brand>
            </div>
        </ng-template>
        <ng-template #submenuheader let-item>
            <span class="uppercase subtitle-menu">{{ item.label }}</span>
        </ng-template>
        <ng-template #item let-item>
            <a pRipple class=" flex items-center p-menu-item-link" [routerLink]="item.routerLink"
                routerLinkActive="active-item"
                [routerLinkActiveOptions]="item.routerLinkActiveOptions || { exact: false }">
                <span [class]="item.icon"></span>
                <span class="ml-2">{{ item.label }}</span>
            </a>
        </ng-template>
    </p-menu>
</nav>